


<div *ngIf="publication?.active == undefined || publication?.active" class="card mb-3" style="max-width: 100vw;">
  <div class="row g-0">
    <div class="col-md-4 cardimage d-flex justify-content-center">
      <img  [src]="publication?.image" class="img-responsive rounded-start" [alt]="publication?.title">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"> <span class="authors">{{publication?.authors}};</span>   {{publication?.title}}; <span class="further">{{publication?.further}}</span>
          &nbsp;<span class="year">{{year}}</span>

          <span *ngFor="let l of publication?.linklist">&nbsp;<a [href]="l.link">[{{l.displaytext}}]</a></span>
        </p>

      </div>
    </div>
  </div>
</div>


