.authors, .further, .year {
    color: darkgray;
}

a {
color: rgb(54,54,54);
margin-bottom: 0.2em;
text-decoration: none;
}
a:hover {
    color: rgb(54,54,54);
    border-bottom-color: rgb(194, 0, 8) ;
    border-bottom-width: 0.3em;
    border-bottom-style: solid;
    margin-bottom: 0;

}