<div class="container"><h2>Head</h2>
<div class="row">
<app-person class="col-xs-12 col-md-6 col-lg-4" [person]="data?.head"></app-person>
</div>

<h3 class="mt-4">Current Reserach Assistances</h3>
<div class="row">
<app-person class="col-xs-12 col-md-6 col-lg-4" *ngFor="let assis of data?.researchAssistances" [person]="assis"></app-person>

</div>
    
<h3 class="mt-4">Former Reserach Assistances and Programmers</h3>

<div class="row">
    <app-person class="col-xs-12 col-md-6 col-lg-4" *ngFor="let assis of data?.FormerResearchAssistantsAndProgrammers" [person]="assis"></app-person>
</div>
</div>