 a, p > a{
    color: rgb(194, 0, 8) !important;
    text-decoration: none;
    font-size: large;
    &:hover {
        text-decoration: underline;
    }
    
}

.carousel-inner {
    display: flex;
    justify-content: center;
}